#calculator{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 60vh;
    width: 23vw;
    background-color: black;
    border-radius: 5px;
}
.rowDisplay{
    height: 20%;

}
#display{
    height: 90%;
    background-color: #3498db;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 5px;
}
.rowButton{
    height: 80%;
}
.buttons{
    margin-top: 3%;
    margin-bottom: 5%;
}
.inner{/*inner button row to give space for plus button*/
    margin-bottom: 6%;
}
#buttonArea{
    height: 90%;
}
#buttonPlus{
    padding-top: 14%;
    padding-bottom: 14%;
}
.btn{/*overrides bs button padding*/
    padding-top:  11px;
    padding-bottom:11px;
}
@media screen and (max-width: 600px){
    #calculator{
        height: 60vh;
        width: 80vw;
    }
}
@media screen and (min-width: 601px) and (max-width: 1300px){
    #calculator{
        height: 42vh;
        width: 32vw;
    }
}
