#calculator{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 60vh;
    width: 23vw;
    background-color: black;
    border-radius: 5px;
}
#display{
    position: relative;
    height: 20%;
    background-color: #3498db;
    margin-top: 5%;
    border-radius: 5px;
}
div#numDisplayArea {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    height: 75%;
    width: 95%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

#numDisplayArea{
    font-weight: bolder;
    font-size: 200%;
}
#buttonArea{
    height:65%;
    margin-top: 5%;
    padding: 0;
}
div#clearButtonsRow{
    height: 20%;
}
#operandsAndOperators{
    height: 80%;
}
#operandsAndOperators button{
    margin-bottom: 10%;
}
#operators button{
    margin-bottom: 28%;
}
div#operands{
    height: 100%;
    padding-left: 0;
}
#plusButtonRow{
    height: 40%;
    vertical-align: center;
}
#buttonPlus{
    padding-top: 49%;
    padding-bottom: 49%;
}
@media screen and (max-width: 600px){
    #calculator{
        height: 60vh;
        width: 80vw;
    }
}
@media screen and (min-width: 601px) and (max-width: 1300px){
    #calculator{
        height: 40vh;
        width: 32vw;
    }
}
